
<h3>ノート数：<%= @notes.count %></h3>

<% @notes.each do | note | %>
  <div><h3>タイトル</h3> <%= note.title%></div>

  <%= link_to '消去', note, method: :delete,
                                       data: { confirm: '良いですか？' } %>

  <br></br>
  <% note.photos.each do | photo | %>
    <h3>写真情報</h3>
    <br></br>
    <div>
      <%= image_tag photo.image_data.url, alt: "photoImage" %>
    </div>
    <br></br>

    
    <h3>コメント情報</h3>
    <br></br>
    <% photo.photo_comments.each do | photo_comment | %>
      <div><h3>コメントした人</h3> <%= photo_comment.user.login_user_id %></div>
      <div><h3>コメント内容</h3> <%= photo_comment.comment %></div>
    <% end %>

    <br></br>
    
    <h3>顔認識情報</h3>
    <br></br>
    <% photo.detect_faces.each do | detect_face | %>
      <div><h3>認識したかどうか</h3> <%= detect_face.is_recognized %></div>
      <% if detect_face.is_recognized? %>
        <div><h3>ユーザ</h3> <%= detect_face.user.login_user_id %></div>
      <% end %>
      <span>顔位置x: <%= detect_face.face_center_x %></span>
      <br></br>
      <span>顔位置y: <%= detect_face.face_center_y %></span>
    <% end %>
  
  <% end %>
  <br></br>
<% end %>
