<% content_for :head do %>
  <title><%= current_group.name %> - dotingparent</title>
  <meta name="description" content="<%= current_group.name %>の写真を表示します。">
<% end %>

<div class="container-fluid main_view">
  <div class="row">
    <div class="col-md-4">
      <div class="abstract_sidebar">
        <aside>
          <div class="container-fluid abstract_notes">
            <% @notes.each do | note | %>
              <%= link_to note, remote: true do %>
                <div class="row abstract_note">
                  <%= render partial: 'notes/abstract', locals: { note: note } %>
                </div>
              <% end %>
            <% end %>
          </div>
        </aside>
      </div>
    </div>
    <div class="col-md-8">
      <% if @notes.count > 0 %>
        <% note = @notes.first %>
        <div class="detail_note" id="detail_note_id">
          <%= render partial: 'notes/note', locals: { note: note } %>
        </div>
      <% end %>
    </div>
  </div>
</div>