<% content_for :head do %>
  <title><%= current_group.name %> - photo upload - dotingparent</title>
  <meta name="description" content="<%= current_group.name %>の写真を追加します。">
<% end %>

<h1><%= current_group.name %> の写真検索</h1>

<div id="draggable_field" >

  <% current_group.group_users.each do | group_user | %>
    <div class="row">
      <div class="search-icon" id="<%= group_user.user_number %>">
        <%= image_tag group_user.user.image_url.url %>
      </div>
    </div>
    <br></br>
  <% end %>
</div>