<% content_for :head do %>
  <title><%= current_group.name %> - photo upload - dotingparent</title>
  <meta name="description" content="<%= current_group.name %>の写真を検索します。">
<% end %>
<% group_users = current_group.group_users %>
<% group_user_children = group_users.where(is_center_displayed: true) %>
<% group_user_parents = group_users.where(is_center_displayed: false) %>
<div class="container-fluid note_search_view draggable_field">
  <% if group_user_children.any? %>
    <% column_size = 12 / group_user_children.count %>
    <% if column_size == 0 %>
      <% column_size = 1 %>
    <% end %>
    <div class="row users_row">
      <% group_user_children.each do | group_user | %>
        <div class="col-md-<%= column_size %>">
          <% if group_user.user == current_user %>
            <div class="myself">
              <%= image_tag group_user.user.image_url.url,
                class: "img-responsive search-icon",
                id: group_user.user_number.to_s %>
            </div>
          <% else %>
            <div class="not_myself">
              <%= image_tag group_user.user.image_url.url,
                class: "img-responsive search-icon",
                id: group_user.user_number.to_s %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if group_user_parents.any? %>
    <% column_size = 12 / group_user_parents.count %>
    <% if column_size == 0 %>
      <% column_size = 1 %>
    <% end %>
    <div class="row users_row">
      <% group_user_parents.each do | group_user | %>
        <div class="col-md-<%= column_size %>">
          <% if group_user.user == current_user %>
            <div class="myself">
              <%= image_tag group_user.user.image_url.url,
                class: "img-responsive search-icon",
                id: group_user.user_number.to_s %>
            </div>
          <% else %>
            <div class="not_myself">
              <%= image_tag group_user.user.image_url.url,
                class: "img-responsive search-icon",
                id: group_user.user_number.to_s %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="row album_row">
    <div class="album_col">
      <%= image_tag "album.jpg",
        class: "img-responsive album-icon" %>
    </div>
  </div>
</div>
