<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-inner">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 class="logo">
            <%= link_to "DotingParent", root_path, class: "navbar-brand" %>
          </h1>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% unless logged_in? %>
              <li><%= link_to "新規登録", signup_path %></li>
              <li><%= link_to "ログイン", login_path %></li>
            <% else %>
              <li>
                <%= link_to new_note_path do %>
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  写真を追加
                <% end %>
              </li>
              <li>
                <%= link_to notes_search_form_path do %>
                  <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                  写真を検索
                <% end %>
              </li>
              <li>
                <%= link_to notes_admin_path do %>
                  <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                  写真を管理
                <% end %>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="user_image">
                    <%= user_image_for current_user , size: 30 %>
                  </span>
                  <%= current_user.login_user_id %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu multi-level">
                  <li>
                    <%= link_to "プロフィール" , current_user  %>
                  </li>
                  <li role="separator" class="divider"></li>
                  <% groups = current_user.groups %>
                  <% if groups.count > 1 %>
                    <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        グループを変更
                      </a>
                      <ul class="dropdown-menu">
                        <% groups.each do | group | %>
                          <% if group != current_group %>
                            <li>
                              <%= link_to group.name , select_group_group_url(group)  %>
                            </li>
                            <li role="separator" class="divider"></li>
                          <% end %>
                        <% end %>
                      </ul>
                      <li role="separator" class="divider"></li>
                    </li>
                  <% end %>
                  <li>
                    <%= link_to "ログアウト", logout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>